<header>
  <div class="text-center">
    <h1>Welcome <%= @user.username %>!</h1>
  </div>
</header>

<h2><%= @movie[:title] %></h2>

<section>
  <p>
    <b>Vote Average:</b> <%= @movie[:vote_average] %>
    <b>Runtime:</b> <%= @movie[:runtime]/60 %>hr <%= @movie[:runtime] % 60 %>min
    <b>Genre(s):</b> <%= @movie[:genres].map do |genre_data| %>
                        <% genre_data[:name] %>
                     <% end.sort.join(", ") %>
  </p><hr>
</section>

<section class="summary">
  <p><b>Summary:</b><br><%= @movie[:overview] %></p>
</section>

<section class="casts">
  <p><b>Cast:</b></p>
  <% @casts.each do |cast| %>
    <p><%= cast.name %> as <%= cast.character %></p>
  <% end %>
</section>

<section class="reviews">
  <hr><p><b> <%= @reviews.size %> Review(s)</b></p>
  <% @reviews.each do |review| %>
    <p><b>Author:</b> <%= review.author %></p>
    <p><%= review.content %></p>
  <% end %>
</section>
