<div class="text-center">
  <h2><%= @movie[:title] %></h2>
  <%= form_with url: events_path, local: :true do |f| %>
    <%= f.hidden_field :api_movie_id, value: @movie[:id] %>
    <p><%= f.label :name, "Name:" %>
    <%= f.text_field :name %></p>
    <p><%= f.label :duration, "Duration:" %>
    <%= f.number_field :duration %></p>
    <p><%= f.label :start_time, "Start Time:" %>
    <%= f.datetime_field :start_time %></p>
    <p><%= f.label :friends, "Invite your friends:" %>
    <%= f.collection_check_boxes :friends, @user.friends, :id, :username, include_hidden: false %></p>
    <p><%= f.submit 'Create Viewing Party' %></p>
  <% end %>
</div>
